node_modules/
cache/
.nyc_output/
# contrast stuff
contrast_effective_config.json
contrast_system_info.json
contrast.log
route-metrics.log
security.log
# swc compiler cache
.swc/
# rewrite cache
.contrast/
output-?

